@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }
}
@layer components {
}
* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
